body {
  background-color: black;
  text-align: center;
}

.white{
  color: white;
}

.gray {
  color: gray;
}

.font {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
}

.Dlink {
  color: aquamarine;
  font-size: 16px;
}

.footer {
  color: gray;
  text-align: right;
  font-size: 21px;
}
